@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

.top {
	width: 100%;
	height: 70px;
	/* background-image: url("../img/top.png"); */
	background-color: #FFFFFF;
	background-size: cover;
}

.top_logo {
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	line-height: 18px;
	position: absolute;
	top: 9px;
	left: 47px;
	display: flex;
	align-items: center;
}

.top_logo>a>img {
	width: 55px;
	height: 55px;
}

.theme {
	font-size: 30px;
	font-family: Source Han Sans CN;
	font-weight: bold;
	color: #333333;
	line-height: 28px;
	margin-left: 20px;
}
.theme-2{
	font-size: 30px;
	font-family: Source Han Sans CN;
	font-weight: bold;
	color: rgba(255, 255, 255, 1);
	line-height: 28px;
	margin-left: 20px;
}

.top_right {
	position: absolute;
	right: 10px;
	top: 29px;
	font-size: 13px;
	display: flex;
	align-items: center;
	margin-top: -5px;
}

.top_right>dl {
	list-style: none;
	display: flex;
}

.top_right>dl>dd {
	display: flex;
	margin-right: 37px;
}

.top_right>dl>dd>a {
	display: flex;
	text-decoration: none;
	font-size: 18px;
	font-family: Source Han Sans CN;
	font-weight: bold;
	color: #333333;
	cursor: pointer;
}
.ant-bread span{
	font-size: 16px;
	font-family: Source Han Sans CN;
	font-weight: bold;
	color: #333333;
}
/* 页脚 */
.footer_1{
	width:100%;
	min-height:35px;
	background-color: #FFFFFF;
	text-align:center;
	line-height:35px;
	font-size:18px;
	font-family:Source Han Sans CN;
	font-weight:bold;
	color:#C2C2C2;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	right: 0; //底部
	left: 0;
	bottom: 0;
	z-index: 1030;
}
.footer_2{
	height:50px;
	line-height:50px;
	font-size:18px;
	font-family:Source Han Sans CN;
	font-weight:bold;
	color:#FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 320px;
}

footer {
	/* position: absolute; */
	line-height: 35px;
	height: 35px;
/* 	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1; */
	text-align: center;
	background: #FFFFFF;
	font-size:16px;
	font-family:Source Han Sans CN;
	font-weight:bold;
	color:rgba(206,206,206,1);
}
@media screen and (max-width:768px){
	.theme{
		display: none;
	}
}

