html,body{
	height: 100%;
}
* {
	margin: 0;
	padding: 0;
	font-family:Source Han Sans CN;
	font-weight:bold;
}
body{
	background-image: url(../img/index.png);
	height: 100%;
	background-size: cover;
}
a{
	cursor: pointer;
}
.top {
	width: 100%;
	height: 100px;
}
.top_logo {
	color: #fff;
	font-weight: bold;
	font-size: 24px;
	line-height: 100px;
	position: absolute;
	top: 15px;
	left: 47px;
	display: flex;
	align-items: center;
}

.top_logo>img {
	width: 55px;
	height: 55px;
}

.theme {
	font-size: 30px;
	font-family: Source Han Sans CN;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 28px;
	margin-left: 20px;
}
.theme-2{
	font-size: 30px;
	font-family: Source Han Sans CN;
	font-weight: bold;
	color: rgba(255, 255, 255, 1);
	line-height: 28px;
	margin-left: 20px;
}
.top_right {
	position: absolute;
	right: 10px;
	top: 38px;
	font-size: 13px;
	display: flex;
	align-items: center;
}
.top_right>dl {
	list-style: none;
	display: flex;
}
.top_right>dl>dd {
	display: flex;
	margin-right: 37px;
}
.top_right>dl>dd>a {
	display: flex;
	text-decoration: none;
	font-size: 18px;
	font-family: Source Han Sans CN;
	font-weight: bold;
	color: #333333;
}

.title-wrap{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 12%;
}
.title{
	height:60px;
	font-size:48px;
	color:#FFFFFF;
	margin: 0 auto;
}
.title-wrap input{
	margin: 55px;
	width:650px;
	height:60px;
	border:2px solid #FFFFFF;
	border-radius:20px;
	padding-left: 10px;
	padding-right: 50px;
	color: #FFFFFF;
	font-size:18px;
	BACKGROUND-COLOR: transparent;
}
.title-wrap input:focus{
	border-style:solid;
	border-color: #03a9f4;
	box-shadow: 0 0 15px #03a9f4;
	outline:none;
}
.fa-search:before {
	content: "\f002";
	margin-left: -110px;
}
.footer{
	height: 35px;
	line-height: 35px;
	text-align: center;
	margin-top: -35px;
	color: #FFFFFF;
	font-size: 18px;
}
@media screen and (max-width:768px){
	.title-wrap{
		text-align: center;
		margin-top: 200px;
		position: inherit;
	}
	.title{
		height:60px;
		font-size:24px;
		color:#FFFFFF;
		margin: 0 auto;
	}
	.title-wrap input{
		margin: 20px 0;
		width: 350px;
		height:50px;
		border:2px solid #FFFFFF;
		border-radius:20px;
		padding-left: 10px;
		padding-right: 50px;
		color: #FFFFFF;
		font-size:18px;
		BACKGROUND-COLOR: transparent;
	}
	.wrap-input{
		position: relative;
		width: 440px;
		margin: 0 auto;
		display: flex;
	}
	.fa-search:before {
		content: "\f002";
		margin-left: -60px;
	}
	
}