<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta charset="UTF-8">
	<title>affair</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="renderer" content="webkit">
	<script src="/static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="/static/font-awesome-4.7.0/css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/header.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/affair.css"/>

</head>
<body>
<div id="weld-header"></div>

<section class="body-affair">
	<div class="affair_cont" >

		<div class="affair_top box-flex">

			<a class="affair_nav box-flex acenter vcenter" href="/web/user/getList?page=1&type=1">待处理事务<!--<span class="circle">6</span>--></a>
			<a class="affair_nav box-flex acenter vcenter cur" href="/web/user/getUserList?page=1&type=2">用户列表</a>

		</div>

		<!--用户列表-->
		<div class="affair" id="user_ptrans" >
			<table style='white-space: nowrap' >
				<tr>
					<th style="text-align: center;">地址</th>
					<th style="text-align: center;">用户名</th>
					<th style="text-align: center;">所属机构</th>
					<th style="text-align: center;" >角色权限</th>
					<th style="text-align: center;">操作</th>
				</tr>
				<tr th:each="list2,list2Stat: ${list2}">
					<td id = "address_1"><a th:href="${list2.address_utf8}" th:text="${list2.address_utf8}"></a></td>
					<td th:text="${list2.username}"  id = "username_1"></td>
					<td th:if="${list2.organ} == 1" th:text="测试1" id = "organName_1"></td>
					<td th:if="${list2.organ} == 2" th:text="测试2"></td>
					<td th:if="${list2.role} == 1" th:text="管理员" id = "role_1"></td>
					<td th:if="${list2.role} == 2" th:text="普通用户" ></td>
					<td>
						<a href="#modal-edit" style="color: #5FB3F1;">
							<i class="fa fa-edit fa-2x"style="color:#5FB3F1"  th:onclick="change([[${list2}]])"></i>
						</a>

					</td>
				</tr>
			</table>
			<div class="newPage">
				<div class="my-page user1-page"></div>
			</div>
		</div>

		<!--用户列表点击编辑-->
		<div class="modal modal-edit" id="modal-edit" aria-hidden="true">
			<div class="modal-by-dialog">
				<a href="#" class="btnClose fa  fa-close" style="color:#333333"></a>
				<form role="form" class="form">
					<p class="formTitle">编辑信息</p>
					<div class="form-group">
						<label for="username_2">地址:</label>
						<input type="text" class="form-control form-addrss" id="address_2"  readonly>
					</div>
					<div class="form-group">
						<label for="username_2">用户名:</label>
						<input type="text" class="form-control form-name" placeholder="请输入用户名" id="username_2">
					</div>
					<div class="form-group">
						<label for="username_2">所属机构:</label>
						<select class="form-control" id="organNamez" >
							<option value="1">测试1</option>
							<option value="2">测试2</option>
						</select>
					</div>
					<div class="form-group">
						<label for="username_2">角色权限:</label>
						<select class="form-control" id="rolez">
							<option value="1">管理员</option>
							<option value="2">普通用户</option>
						</select>
					</div>
					<a href=""class="btn btn-submit" onclick="updateUser()">更新</a>
				</form>
			</div>
		</div>

	</div>
	</div>
</section>

<footer>
	备案版权号备案版权号备案版权号备案版权号备案版权号@备案版权号备案版权号
</footer>

<script src="/static/js/my-page.js"></script>
<script type="text/javascript">
	var pages = [[${totalPage}]];
	var flag= [[${pageNum}]];
	var page = Number(getQuery('page')) ? Number(getQuery('page')):1
	var type = Number(getQuery('type'))
	$("#weld-header").load("/web/header");

	myPageInit({
		pages: pages,
		currentPage: page,
		element: '.user1-page',

		callback: function (page) {
			let type = 1;
			console.log(123)
			alert("当前页:"+page);
			location.href="[[@{/web/user/getUserList(page)}]]="+page+"&type="+type;
		}

	});

	/*
    myPageInit({
        pages: 20,
        currentPage: 1,
        element: '.user-page',
        callback: function (page) {
            console.log("user-page:", page);

        }

    });
    */
	function getQuery(para){
		var reg = new RegExp("(^|&)"+para +"=([^&]*)(&|$)");
		var r = window.location.search.substr(1).match(reg);
		if(r!=null){
			return unescape(r[2]);
		}
		return null;
	}

	function change(list2) {
		let address_1 = list2.address_utf8;
		let username_1 = list2.username;
		let organName_1 = list2.organName;
		// let role_1 = $("#rolez").init()[0].options[0].innerText;
		// let role_2 = $("#rolez").init()[0].options[1].innerText;
		$("#address_2").val(address_1);
		$("#username_2").val(username_1);
		$("#organName_2").val(organName_1);
		if(list2.organ == 1){
			document.getElementById("organNamez").options[0].selected="selected";
		}else if(list2.organ == 2){
			document.getElementById("organNamez").options[1].selected="selected";
		}
		if(list2.role == 1){
			document.getElementById("rolez").options[0].selected="selected";
		}else if(list2.role == 2){
			document.getElementById("rolez").options[1].selected="selected";
		}
	}

	function updateUser() {
		let address = $("#address_2").val();
		let username = $("#username_2").val();
		let organName = $("#organNamez").val();
		let rolez = $("#rolez").val();
		$.ajax({
			url: '/web/user/updateUser',
			type: 'post',
			data: {"address":address,"username":username,"organName": organName, "role": rolez},
			dataType: "json",
			success: function (data) {
				location.href="[[@{/web/user/getUserList}]]";
			},
			error: function (err) {

			}
		})
	}
</script>
</body>
</html>
