<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<meta charset="UTF-8">
		<title>affair</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="renderer" content="webkit">
		<script src="/static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/static/font-awesome-4.7.0/css/font-awesome.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/header.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/affair.css"/>

	</head>
	<body>
		<div id="weld-header"></div>

		<section class="body-affair">
			<div class="affair_cont" >
			   
			  <div class="affair_top box-flex">
			     
			  	<a class="affair_nav box-flex acenter vcenter cur" href="/web/user/audit">待处理事务<!--<span class="circle">6</span>--></a>
				<a class="affair_nav box-flex acenter vcenter">用户列表</a>
				
			  </div>
			  <div class="searchIn">
				   <div class="din box-flex vcenter">
				      <input type="text"/>
				   </div>
				   <button class=" fa fa-search  n_searchbtn"></button>
				</div>
				<div class="affair" id="tab_ptrans" >
				  <table style='white-space: nowrap' >
					  <tr>
						  <th style="text-align: center;">地址</th>
						  <th style="text-align: center;">用户名</th>
						  <th style="text-align: center;">所属机构</th>
						  <th style="text-align: center;">角色权限</th>
						  <th style="text-align: center;">操作</th>
					  </tr>
					  <tr th:each="list,listStat: ${list}">
						  <td ><a th:href="${list.address_utf8}" th:text="${list.address_utf8}"></a></td>
						  <input type="hidden" th:value="${list.address_utf8}" id="address" name = "address" />
						  <td th:text="${list.username}"></td>
						  <td th:text="${list.organName}"></td>
						  <td th:if="${list.role} == 1" th:text="管理员"></td>
						  <td th:if="${list.role} == 2" th:text="普通用户"></td>
						  <td>
							  <a href="#modal-by" style="color: #FFFFFF;margin-right: 10px;"  th:onclick="auditSuccess([[${list.address_utf8}]])">
								  <i class="fa fa-check-circle fa-2x"style="color:#0FA10B"></i>
							  </a>
							  <a href="#modal-one" th:onclick="auditFail([[${list.address_utf8}]])">
								  <i class="fa fa-times-circle fa-2x"style="color:#BF3232"></i>
							  </a>
						  </td>
					  </tr>
				  </table>
				 
				</div>
				<!--用户列表-->
				<div class="affair" id="tab_users" style="display:none;">
				 <table style='white-space: nowrap' >
					  <tr>
						  <th style="text-align: center;">地址</th>
						  <th style="text-align: center;">用户名</th>
						  <th style="text-align: center;">所属机构</th>
						  <th style="text-align: center;" >角色权限</th>
						  <th style="text-align: center;">序号</th>
						  <th style="text-align: center;">操作</th>
					  </tr>
					  <tr th:each="list2,list2Stat: ${list2}">
						  <td id = "address_1"><a th:href="${list2.address_utf8}" th:text="${list2.address_utf8}"></a></td>
						  <td th:text="${list2.username}"  id = "username_1"></td>
						  <td th:if="${list2.organ} == 1" th:text="测试1" id = "organName_1"></td>
						  <td th:if="${list2.organ} == 2" th:text="测试2" id = "organName_2"></td>
						  <td th:if="${list2.role} == 1" th:text="管理员" id = "role_1"></td>
						  <td th:if="${list2.role} == 2" th:text="普通用户" id = "role_2"></td>
						  <td th:text="${pageNum}"></td>
						  <td>
							  <a href="#modal-edit" style="color: #5FB3F1;">
								<i class="fa fa-edit fa-2x"style="color:#5FB3F1"  th:onclick="change([[${list2}]])"></i>
							  </a>
							 
						  </td>
					  </tr>

					  
				  </table>
				</div>
				
				
				
				<div class="newPage">
				   <div class="my-page"></div>
				</div>
				
				<!-- 未通过 -->
				<div class="modal" id="modal-one" aria-hidden="true">
				    <div class="modal-dialog">
				        <div class="modal-header">
				            <i class="fa fa-times-circle fa-2x"style="color:#FFFFFF"></i>
							<span>审核未通过!</span>
				        </div>
				        <div class="modal-footer">
				            <a href="#" class="btn">确 定</a>
				        </div>
				    </div>
				</div>
				<!-- 已通过 -->
				<div class="modal-by" id="modal-by" aria-hidden="true">
				    <div class="modal-by-dialog">
				        <div class="modal-by-header">
				            <i class="fa fa-check-circle fa-2x"style="color:#FFFFFF"></i>
							<span>审核已通过!</span>
				        </div>
				        <div class="modal-by-footer">
				            <a href="#" class="by-btn">确 定</a>
				        </div>
				    </div>
				</div>
				<!--用户列表点击编辑-->
				<div class="modal modal-edit" id="modal-edit" aria-hidden="true">
				   <div class="modal-by-dialog">
					   <a href="#" class="btnClose fa  fa-close" style="color:#333333"></a>
					   <form role="form" class="form">
					      <p class="formTitle">编辑信息</p>
						  <div class="form-group">
							<label for="username_2">地址:</label>
							<input type="text" class="form-control form-addrss" id="address_2"  readonly>
						  </div>
						  <div class="form-group">
							<label for="username_2">用户名:</label>
							<input type="text" class="form-control form-name" placeholder="请输入用户名" id="username_2">
						  </div>
						  <div class="form-group">
							<label for="username_2">所属机构:</label>
							<select class="form-control" id="organNamez" >
								<option value="1">测试1</option>
								<option value="2">测试2</option>
							 </select>
						  </div>
						  <div class="form-group">
							<label for="username_2">角色权限:</label>
							<select class="form-control" id="rolez">
								<option value="1">管理员</option>
								<option value="2">普通用户</option>
							 </select>
						  </div>
						  <a href="#"class="btn btn-submit">更新</a>
					  </form>
				  </div>
				</div>
			</div>
			</div>
		</section>

		<footer>
			备案版权号备案版权号备案版权号备案版权号备案版权号@备案版权号备案版权号
		</footer>

        <script src="/static/js/my-page.js"></script>
		<script type="text/javascript">
			$("#weld-header").load("/web/header");
			$(".affair_nav").click(function(){
			  //console.log($(this).index());
			  if($(this).index()==0){
			    $("#tab_ptrans").css({"display":"block"})
				$("#tab_users").css({"display":'none'})
				$(".searchIn").css({"display":'none'})
				
			  }else{
			    $("#tab_ptrans").css({"display":"none"})
				$("#tab_users").css({"display":'block'})
				$(".searchIn").css({"display":'block'})
			
				}
			  $(this).addClass('cur')
			  $(this).siblings().removeClass("cur")
			})
			
			myPageInit({
				pages: [[${totalPage}]],
				currentPage: [[${pageNum}]],
				element: '.my-page',
				callback: function (page) {
					console.log("当前页:", page);
					var result = '';
					$.ajax({
						url: '/web/user/getList',
						type: 'get',
						data: {pageNum: page},
						dataType: "json",
						success: function (result) {
							console.log(result);
							var inf = "<table class ='affair'>";
							inf += "<tr><th>地址</th><th>用户名</th><th>所属机构</th><th>角色权限</th></tr>"
							/*<![CDATA[*/
							for(var i = 0;i<result.data.length;i++){
								/*]]>*/
								var stu = result.data[i];
								inf += "<tr><td>"+stu.address+"</td><td>"+stu.username+"</td><td>"+stu.organName+"</td><td>"+stu.role+"</td></tr>"
							}
							inf += "</table>";
							$("#tab_ptrans").append = inf;
							console.log(inf)
						},
						error: function (err) {

						}
					});
					return result;
				}
			});

			function auditSuccess(address) {
				// let address=$("#address").val();
				//alert(address);
				$.ajax({
					url: '/web/user/auditSuccess',
					type: 'post',
					data: {address: address},
					dataType: "json",
					success: function (data) {
						console.log(data.code)
						if(data.code == 200) {
							location.href = "[[@{../user/audit}]]";
						}
					},
					error: function (err) {

					}
				})
			}

			function auditFail() {
				//let address = document.getElementById("address").value;
				let address=$("#address").val();
				$.ajax({
					url: '/web/user/auditFail',
					type: 'post',
					data: {address: address},
					dataType: "json",
					success: function (data) {
					},
					error: function (err) {

					}
				})
			}

			function change(list2) {
				let address_1 = list2.address_utf8;
				let username_1 = list2.username;
				let organName_1 = list2.organName;
				// let role_1 = $("#rolez").init()[0].options[0].innerText;
				// let role_2 = $("#rolez").init()[0].options[1].innerText;
				$("#address_2").val(address_1);
				$("#username_2").val(username_1);
				$("#organName_2").val(organName_1);
				if(list2.organ == 1){
					document.getElementById("organNamez").options[0].selected="selected";
				}else if(list2.organ == 2){
					document.getElementById("organNamez").options[1].selected="selected";
				}
				if(list2.role == 1){
					document.getElementById("rolez").options[0].selected="selected";
				}else if(list2.role == 2){
					document.getElementById("rolez").options[1].selected="selected";
				}
			}
		</script>
	</body>
</html>
