<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<meta charset="UTF-8">
		<title>affair</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="renderer" content="webkit">
		<script src="/static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/static/font-awesome-4.7.0/css/font-awesome.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/header.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/affair.css"/>

	</head>
	<body>
		<div id="weld-header"></div>

		<section class="body-affair">
			<div class="affair_cont" >
			   
			  <div class="affair_top box-flex">
			     
			  	<a class="affair_nav box-flex acenter vcenter cur" href="/web/user/getList?page=1&type=1">待处理事务<!--<span class="circle">6</span>--></a>
				<a class="affair_nav box-flex acenter vcenter" href="/web/user/getUserList?page=1&type=2">用户列表</a>
				
			  </div>

				<div class="affair" id="tab_ptrans" >
				  <table style='white-space: nowrap' >
					  <tr>
						  <th style="text-align: center;">地址</th>
						  <th style="text-align: center;">用户名</th>
						  <th style="text-align: center;">所属机构</th>
						  <th style="text-align: center;">角色权限</th>
						  <th style="text-align: center;">操作</th>
					  </tr>
					  <tr th:each="list1,listStat: ${list1}">
						  <td ><a th:href="${list1.address_utf8}" th:text="${list1.address_utf8}"></a></td>
						  <input type="hidden" th:value="${list1.address_utf8}" id="address" name = "address" />
						  <td th:text="${list1.username}"></td>
						  <td th:text="${list1.organName}"></td>
						  <td th:if="${list1.role} == 1" th:text="管理员"></td>
						  <td th:if="${list1.role} == 2" th:text="普通用户"></td>
						  <td>
							  <a href="#modal-by" style="color: #FFFFFF;margin-right: 10px;"  th:onclick="auditSuccess([[${list1.address_utf8}]])">
								  <i class="fa fa-check-circle fa-2x"style="color:#0FA10B"></i>
							  </a>
							  <a href="#modal-one" th:onclick="auditFail([[${list1.address_utf8}]])">
								  <i class="fa fa-times-circle fa-2x"style="color:#BF3232"></i>
							  </a>
						  </td>
					  </tr>
				  </table>
					<div class="newPage">
						<div class="my-page user1-page"></div>
					</div>
				</div>

				<!-- 未通过 -->
				<div class="modal" id="modal-one" aria-hidden="true">
				    <div class="modal-dialog">
				        <div class="modal-header">
				            <i class="fa fa-times-circle fa-2x"style="color:#FFFFFF"></i>
							<span>审核未通过!</span>
				        </div>
				        <div class="modal-footer">
				            <a href="#" class="btn">确 定</a>
				        </div>
				    </div>
				</div>
				<!-- 已通过 -->
				<div class="modal-by" id="modal-by" aria-hidden="true">
				    <div class="modal-by-dialog">
				        <div class="modal-by-header">
				            <i class="fa fa-check-circle fa-2x"style="color:#FFFFFF"></i>
							<span>审核已通过!</span>
				        </div>
				        <div class="modal-by-footer">
				            <a href="#" class="by-btn">确 定</a>
				        </div>
				    </div>
				</div>

			</div>
			</div>
		</section>

		<footer>
			备案版权号备案版权号备案版权号备案版权号备案版权号@备案版权号备案版权号
		</footer>

        <script src="/static/js/my-page.js"></script>
		<script type="text/javascript">
			var pages = [[${totalPage}]];
			var flag= [[${pageNum}]];
			var page = Number(getQuery('page')) ? Number(getQuery('page')):1
			var type = Number(getQuery('type'))
			$("#weld-header").load("/web/header");

			myPageInit({
				pages: pages,
				currentPage: page,
				element: '.user1-page',

				callback: function (page) {
					let type = 1;
					console.log(123)
					alert("当前页:"+page);
					location.href="[[@{/web/user/getList(page)}]]="+page+"&type="+type;
				}

			});

			/*
			myPageInit({
				pages: 20,
				currentPage: 1,
				element: '.user-page',
				callback: function (page) {
					console.log("user-page:", page);

				}

			});
            */
			function getQuery(para){
				var reg = new RegExp("(^|&)"+para +"=([^&]*)(&|$)");
				var r = window.location.search.substr(1).match(reg);
				if(r!=null){
					return unescape(r[2]);
				}
				return null;
			}

			function auditSuccess(address) {
				// let address=$("#address").val();
				//alert(address);
				$.ajax({
					url: '/web/user/auditSuccess',
					type: 'post',
					data: {address: address},
					dataType: "json",
					success: function (data) {
						console.log(data.code)
						if(data.code == 200) {
							location.href = "[[@{../user/audit}]]";
						}
					},
					error: function (err) {

					}
				})
			}

			function auditFail() {
				//let address = document.getElementById("address").value;
				let address=$("#address").val();
				$.ajax({
					url: '/web/user/auditFail',
					type: 'post',
					data: {address: address},
					dataType: "json",
					success: function (data) {
					},
					error: function (err) {

					}
				})
			}

			function change(list2) {
				let address_1 = list2.address_utf8;
				let username_1 = list2.username;
				let organName_1 = list2.organName;
				// let role_1 = $("#rolez").init()[0].options[0].innerText;
				// let role_2 = $("#rolez").init()[0].options[1].innerText;
				$("#address_2").val(address_1);
				$("#username_2").val(username_1);
				$("#organName_2").val(organName_1);
				if(list2.organ == 1){
					document.getElementById("organNamez").options[0].selected="selected";
				}else if(list2.organ == 2){
					document.getElementById("organNamez").options[1].selected="selected";
				}
				if(list2.role == 1){
					document.getElementById("rolez").options[0].selected="selected";
				}else if(list2.role == 2){
					document.getElementById("rolez").options[1].selected="selected";
				}
			}
		</script>
	</body>
</html>
