<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>详情页</title>
		<script src="/static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/static/font-awesome-4.7.0/css/font-awesome.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/header.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/detail.css"/>
	</head>
	<body>
		<div id="weld-header"></div>
		
		<section>
			<div id="" class="wid-1200">
				
				<div class="ant-bread">
					<a href="/index">
						<span>首页</span>
					</a>
					<span class="arrows">></span>
					<a href="/user/guide">
						<span>查询详情</span>
					</a>
					<span class="arrows">></span>
					<span>焊接试验详情内容</span>
				</div>
				
				<div class="flexs">
					<div class="outer">
					    <div class="A">
					        <div class="flex-column align-center"style="margin: 20px 0;width: 180px;justify-content: center;">
					        	<img src="/static/img/detail-logo.png" style="width:45px;height:45px;color: #FFFFFF;">
								<div class="" style="margin-top: 10px;font-size: 16px;">
									焊接试验详情						
								</div>
					        </div>
							<div class="flex-column" style="margin-left: 20px; font-size: 14px;">
					        	<span>WPQR号：WR6D59WQ5EQ3WF132ASD8WQ612E56WQEQW</span>
								<span>高度：1972007</span>
								<span>区块hash：895cc1eea66c59a3f01e816bccef76451f4037cf5aa15b61eb2a92fe03588bf4</span>
								<span>事务hash:4b6d24a86738b323e417839369df21b80bb56c1e9d45b4c40d2dea8ccb11edd8</span>
								<span>
									(如需查询，可凭hash值登录<a>https://scan.wisdchain.com/cn/index.html</a>查询）
								</span>
					        </div>
					    </div>
					    <div class="B">
					        <div class="leftp" style="">
								<div class="related">附件相关</div>
								<ul>
									<li>
										<div class="tooltip">焊接人员/资质（JPG）
											<div class="tooltiptext">
												<div class="shixin"></div>
												<span >高度：1972007</span>
												<span >区块hash：895cc1eea66c59a3f01e816bccef76451f4037cf5aa15b61eb2a92fe03588bf4</span>
												<span >事务hash:4b6d24a86738b323e417839369df21b80bb56c1e9d45b4c40d2dea8ccb11edd8</span>
												<span >附件大小：6.3M</span>
												<img src="/static/img/deal-beijing.png" >
												<div class="detail-page" style="" >
													<div id=""class="detail-page-i">
														<i class="fa fa-caret-left"></i>
													</div>
													<p>
														<span>1</span>
														<span>/</span>
														<span>4</span>
													</p>
													<div id="" class="detail-page-i">
														<i class="fa fa-caret-right"></i>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<div class="tooltip">设备&型号（JPG）
											<div class="tooltiptext">
												<div class="shixin"></div>
												<span >提示文本2</span>
											</div>
										</div>
									</li>
									<li>
										<div class="tooltip">接头准备（JPG）
										  <div class="tooltiptext">
										  	<div class="shixin"></div>
										  	<span >提示文本3</span>
										  </div>
										</div>
									</li>
									<li>
										<div class="tooltip">施焊过程（AVI）
										  <div class="tooltiptext">
										  	<div class="shixin"></div>
										  	<span >提示文本4</span>
										  </div>
										</div>
									</li>
									<li>
										<div class="tooltip">试件完焊（JPG）
										  <div class="tooltiptext">
										  	<div class="shixin"></div>
										  	<span >提示文本5</span>
										  </div>
										</div>
									</li>
									<li>
										<div class="tooltip">焊前焊中VT（JPG）
										  <div class="tooltiptext">
										  	<div class="shixin"></div>
										  	<span >提示文本6</span>
										  </div>
										</div>
									</li>
									
			
								</ul>
								
					        </div>
					        <div class="rightp" style="">
								<div class="content">
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />
									adassadadfa<br />adassadadfa<br />
								
					
								</div>
					        </div>
					    </div>
					</div>		
				</div>

			</div>
			
		</section>
		
		<footer>
			备案版权号备案版权号备案版权号备案版权号备案版权号@备案版权号备案版权号
		</footer>
		<script type="text/javascript">
			$("#weld-header").load("/web/header");
		</script>
	</body>
</html>
