<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<title>guide</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="renderer" content="webkit">
		<meta name="searchtitle" content="hanjie">
		<meta name="title" content="hanjie">
		<script src="/static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/header.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/guide.css" />
		<link rel="stylesheet" type="text/css" href="/static/font-awesome-4.7.0/css/font-awesome.css" />
	</head>
	<body>

		<div id="page_header"></div>
		<section>
			<div class="list-beijing">
				<ul class="section-ui">
					<li>
						<div class="item-left">数据已上链</div>
						<div class="li-div-title">
							<img src="/static/img/guide-list.png">
							<div class="item-title">
								WPQR详情
							</div>
						</div>
						<div class="li-div-item">
							<div class="" style="display: flex;flex-direction: column;width: 85%;">
								<div class="">哈希高度：</div>
								<div class="item-val" id = "text1" >123456</div>
							</div>
							<div class="fa fa-clone" style="display: flex;align-items: flex-end;justify-content: center;"  onclick="test(text1)"></div>
						</div>
						<div class="li-div-item">
							<div class="" style="display: flex;flex-direction: column;width: 85%;">
								<div class="">哈希值：</div>
								<div class="item-val" id = "text2">ddd14589ffk1597ddddd14589ffk1597dd</div>
							</div>
							<div class="fa fa-clone" style="display: flex;align-items: flex-end;justify-content: center;"  onclick="test(text2)"></div>
						</div>
						<div class="li-div-item">
							<div class="" style="display: flex;flex-direction: column;width: 85%;">
								<div class="">事务哈希： </div>
								<div class="item-val">4b6d24a86738b3234b6d24a86738b323</div>
							</div>
							<div class="fa fa-clone" style="display: flex;align-items: flex-end;justify-content: center;"></div>
						</div>
						<div class="but-detail" id="info">
							查看详情
							<i class="fa fa-chevron-right" style="margin-left: 5px;margin-top: 4px;"></i>
						</div>
					</li>
					<img src="/static/img/right.png">
					<!-- 				<i class="fa fa-chevron-circle-right fa-2x" style="color: #CECECE;margin: 0 10px;"></i> -->
					<!-- 第二个 -->
					<li>
						<div class="item-left">数据未上链</div>
						<div class="li-div-title">
							<i class="fa fa-microchip fa-2x" style="margin-top: 30px;"></i>
							<div class="item-title">
								PWPS详细内容
							</div>
						</div>

						<div class="position-bottom">
							<div class="but2-detail">
								查看详情
								<i class="fa fa-chevron-right" style="margin-left: 5px;margin-top: 4px;"></i>
							</div>
						</div>
					</li>
					<img src="/static/img/right.png">
					<!-- 第三个 -->
					<li>
						<div class="item-left">数据已上链</div>
						<div class="li-div-title">
							<i class="fa fa-microchip fa-2x" style="margin-top: 30px;"></i>
							<div class="item-title">
								焊接试验详细内容
							</div>
						</div>
						<div class="li-div-item">
							<div class="" style="display: flex;flex-direction: column;width: 85%;">
								<div class="item-val">哈希高度：123456</div>
							</div>
							<div class="fa fa-clone" style="display: flex;align-items: flex-end;justify-content: center;"></div>
						</div>
						<div class="li-div-item">
							<div class="" style="display: flex;flex-direction: column;width: 85%;">
								<div class="">哈希值：</div>
								<div class="item-val">ddd14589ffk1597ddddd14589ffk1597dd</div>
							</div>
							<div class="fa fa-clone" style="display: flex;align-items: flex-end;justify-content: center;"></div>
						</div>
						<div class="li-div-item">
							<div class="" style="display: flex;flex-direction: column;width: 85%;">
								<div class="">事务哈希： </div>
								<div class="item-val">4b6d24a86738b3234b6d24a86738b323</div>
							</div>
							<div class="fa fa-clone" style="display: flex;align-items: flex-end;justify-content: center;"></div>
						</div>
						<div class="but-detail">
							查看详情
							<i class="fa fa-chevron-right" style="margin-left: 5px;margin-top: 4px;"></i>
						</div>
					</li>
					<img src="/static/img/right.png">
					<!-- 第四个 -->
					<li>
						<div class="item-left">数据已上链</div>
						<div class="li-div-title">
							<i class="fa fa-microchip fa-2x" style="margin-top: 30px;"></i>
							<div class="item-title">
								现场考试照片
							</div>
						</div>
						<div class="li-div-item">
							<div class="" style="display: flex;flex-direction: column;width: 85%;">
								<div class="item-val">哈希高度：123456</div>
							</div>
							<div class="fa fa-clone" style="display: flex;align-items: flex-end;justify-content: center;"></div>
						</div>
						<div class="li-div-item">
							<div class="" style="display: flex;flex-direction: column;width: 85%;">
								<div class="">哈希值：</div>
								<div class="item-val">ddd14589ffk1597ddddd14589ffk1597dd</div>
							</div>
							<div class="fa fa-clone" style="display: flex;align-items: flex-end;justify-content: center;"></div>
						</div>
						<div class="li-div-item">
							<div class="" style="display: flex;flex-direction: column;width: 85%;">
								<div class="">事务哈希： </div>
								<div class="item-val">4b6d24a86738b3234b6d24a86738b323</div>
							</div>
							<div class="fa fa-clone" style="display: flex;align-items: flex-end;justify-content: center;"></div>
						</div>
						<div class="but-detail">
							查看详情
							<i class="fa fa-chevron-right" style="margin-left: 5px;margin-top: 4px;"></i>
						</div>
					</li>
					<img src="/static/img/right.png">
					<!-- 第五个 -->
					<li>
						<div class="item-left">数据已上链</div>
						<div class="li-div-title">
							<i class="fa fa-microchip fa-2x" style="margin-top: 30px;"></i>
							<div class="item-title">
								实验结果
							</div>
						</div>
						<div class="li-div-item">
							<div class="" style="display: flex;flex-direction: column;width: 85%;">
								<div class="item-val">哈希高度：123456</div>
							</div>
							<div class="fa fa-clone" style="display: flex;align-items: flex-end;justify-content: center;"></div>
						</div>
						<div class="li-div-item">
							<div class="" style="display: flex;flex-direction: column;width: 85%;">
								<div class="">哈希值：</div>
								<div class="item-val">ddd14589ffk1597ddddd14589ffk1597dd</div>
							</div>
							<div class="fa fa-clone" style="display: flex;align-items: flex-end;justify-content: center;"></div>
						</div>
						<div class="li-div-item">
							<div class="" style="display: flex;flex-direction: column;width: 85%;">
								<div class="">事务哈希： </div>
								<div class="item-val">4b6d24a86738b3234b6d24a86738b323</div>
							</div>
							<div class="fa fa-clone" style="display: flex;align-items: flex-end;justify-content: center;"></div>
						</div>
						<div class="but-detail">
							查看详情
							<i class="fa fa-chevron-right" style="margin-left: 5px;margin-top: 4px;"></i>
						</div>
					</li>
					<img src="/static/img/right.png">
					<!-- 第六个 -->
					<li>
						<div class="item-left">数据已上链</div>
						<div class="li-div-title">
							<i class="fa fa-microchip fa-2x" style="margin-top: 30px;"></i>
							<div class="item-title">
								理化报告（非破坏性）
							</div>
						</div>
						<div class="li-div-item">
							<div class="" style="display: flex;flex-direction: column;width: 85%;">
								<div class="item-val">哈希高度：123456</div>
							</div>
							<div class="fa fa-clone" style="display: flex;align-items: flex-end;justify-content: center;"></div>
						</div>
						<div class="li-div-item">
							<div class="" style="display: flex;flex-direction: column;width: 85%;">
								<div class="">哈希值：</div>
								<div class="item-val">ddd14589ffk1597ddddd14589ffk1597dd</div>
							</div>
							<div class="fa fa-clone" style="display: flex;align-items: flex-end;justify-content: center;"></div>
						</div>
						<div class="li-div-item">
							<div class="" style="display: flex;flex-direction: column;width: 85%;">
								<div class="">事务哈希： </div>
								<div class="item-val">4b6d24a86738b3234b6d24a86738b323</div>
							</div>
							<div class="fa fa-clone" style="display: flex;align-items: flex-end;justify-content: center;"></div>
						</div>
						<div class="but-detail">
							查看详情
							<i class="fa fa-chevron-right" style="margin-left: 5px;margin-top: 4px;"></i>
						</div>
					</li>
					<img src="/static/img/right.png">
					<!-- 第七个 -->
					<li>
						<div class="item-left">数据已上链</div>
						<div class="li-div-title">
							<i class="fa fa-microchip fa-2x" style="margin-top: 30px;"></i>
							<div class="item-title">
								理化报告（破坏性）
							</div>
						</div>
						<div class="li-div-item">
							<div class="" style="display: flex;flex-direction: column;width: 85%;">
								<div class="item-val">哈希高度：123456</div>
							</div>
							<div class="fa fa-clone" style="display: flex;align-items: flex-end;justify-content: center;"></div>
						</div>
						<div class="li-div-item">
							<div class="" style="display: flex;flex-direction: column;width: 85%;">
								<div class="">哈希值：</div>
								<div class="item-val">ddd14589ffk1597ddddd14589ffk1597dd</div>
							</div>
							<div class="fa fa-clone" style="display: flex;align-items: flex-end;justify-content: center;"></div>
						</div>
						<div class="li-div-item">
							<div class="" style="display: flex;flex-direction: column;width: 85%;">
								<div class="">事务哈希： </div>
								<div class="item-val">4b6d24a86738b3234b6d24a86738b323</div>
							</div>
							<div class="fa fa-clone" style="display: flex;align-items: flex-end;justify-content: center;"></div>
						</div>
						<div class="but-detail" onclick="search()">
							查看详情
							<i class="fa fa-chevron-right" style="margin-left: 5px;margin-top: 4px;" ></i>
						</div>
					</li>
				</ul>
				<div class="paompt">
					温馨提示：如需查询报告是否被篡改，可凭借哈希值登录
					<a>https://scan.wisdchain.com/cn/index.html</a>
					查询。
				</div>
			</div>
		</section>

		<footer>备案版权号备案版权号备案版权号备案版权号备案版权号@备案版权号备案版权号</footer>

		<script text="text/javascript">
			function copy(text1)
			{
				var Url2=document.getElementById("'"+text1+"'").innerText;
				alert(Url2)
				var oInput = document.createElement('input');
				oInput.value = Url2;
				document.body.appendChild(oInput);
				oInput.select(); // 选择对象
				document.execCommand("Copy"); // 执行浏览器复制命令
				oInput.className = 'oInput';
				oInput.style.display='none';
				alert('复制成功');
			}
		</script>

		<script>
			$("#page_header").load("/web/header");
			// window.onload = function() {
			// 	document.getElementById("info").onclick = function() {
			// 		var url = "/weldchain/detail.html";
			// 		window.open(url);
			// 		return true;
			// 	}
			// }

			function search() {
				$.ajax({
					url: '/web/user/detail_1',
					type: 'post',
					dataType: "json",
					success: function (data) {
						console.log("111");
						location.href="[[@{../user/detail}]]";
					},
					error: function (err) {
						console.log("error");
					}
				})
			}
		</script>
	</body>
</html>
