<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<meta charset="UTF-8">
		<title>index</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="renderer" content="webkit">
		<script src="/static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="/static/font-awesome-4.7.0/css/font-awesome.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
	</head>
	<body>
		<div id=""style="min-height: 100%;">
			<div class=""style="padding-bottom: 35px;">
				<header>
					<div class="top">
						<div class="top_logo">
							<img src="/static/img/logo.png" />
							<div class="theme">焊接链</div>
						</div>
						<div class="top_right">
							<dl>
								<dd><a href="/web/login"><i class="fa fa-user-o" style="color: #FFFFFF;font-size: 28px;" id="user"></i></a></dd>
								<dd><a><img src="/static/img/Chinese.png" ></a></dd>
							</dl>
						</div>
					</div>
				</header>
				<section >
					<div class="title-wrap">
						<div class="title">
							焊接链-焊接工艺评定报告智能溯源系统
						</div>
						<div style="wrap-input">
							<input type="text" id="search" name="search" placeholder="请输入要溯源的WPRQ号"/>
							<i class="fa fa-search fa-2x m-y" style="color: #ffffff;cursor: pointer;" type="i" onclick="search()"></i>
						</div>
					</div>
				</section>
			</div>
		</div>
		<div class="footer">
			备案版权号备案版权号备案版权号备案版权号备案版权号
		</div>

		<script >
			function search() {
				//let address = document.getElementById("address").value;
				let search=$("#search").val();
				console.log("11111111111");
				$.ajax({
					url: '/web/user/guide_1',
					type: 'post',
					data: {search: search},
					dataType: "json",
					success: function (data) {
						location.href="[[@{../user/guide_2}]]";
					},
					error: function (err) {

					}
				})
			}
			// window.onload = function() {
			// 	document.getElementById("seanch").onclick = function() {
			// 		var url = "/weldchain/guide.html";
			// 		window.open(url);
			// 		return true;
			// 	}
			// 	document.getElementById("user").onclick = function() {
			// 		var url = "/weldchain/login.html";
			// 		window.open(url);
			// 		return true;
			// 	}
			// }
		</script>
	</body>
</html>
